---
import { Image } from "astro:assets";
import CharacterLayout from "../../../layouts/CharacterLayout.astro";
import type { CharacterType } from "../../../models/CharacterType";
import bgImg from "../../../../public/bg/bg_class_iadakan.webp";
import { checkLanguage } from "../../../services/utils";

interface Props {
  char: CharacterType;
}

const { char } = Astro.props;
const { currentLocale } = Astro;
---

<CharacterLayout title={`Meet ${char.name}!`} char={char}>
  <div class="flex flex-col md:grid md:grid-cols-2 px-8">
    <div
      class="flex justify-center items-center w-full relativerounded-xl relative"
    >
      <Image
        src={char.img}
        alt={char.name}
        class={"w-auto z-10 max-h-[400px] md:max-h-[700px] py-2"}
        loading={"eager"}
        transition:name={`char-img-${char.id}`}
      />
      <Image
        src={char.bg}
        alt={"bg-roon"}
        class={"size-full object-cover absolute rounded-xl"}
        loading={'eager'}
        transition:name={`bg-img-${char.id}`}
      />
      <!-- <div
        class="size-[300px] bg-purple-400 z-0 absolute top-[50%] left-1/4 rounded-full"
      >
      </div> -->
    </div>
    <div
      class="flex flex-col mt-4 md:mt-0 md:px-4 [&>p]:bg-black/55 [&>p]:px-4 [&>p]:py-2 [&>p]:rounded-xl [&>p]:mb-4"
    >
      <h1 class="font-semibold text-4xl px-2 mb-4">
        Meet
        <span class="font-bold" transition:name={`char-name-${char.id}`}
          >{char.name}</span
        >
      </h1>
      <p class="">
        <span>Personality:</span>
        {char[checkLanguage(currentLocale!)]?.personality}
      </p>
      <p set:html={char[checkLanguage(currentLocale!)]?.text} />
    </div>
  </div>
  <!-- <img
    src={char.img}
    alt={char.name}
    class={"w-[300px]"}
    transition:name={`char-img-${char.id}`}
  /> -->
</CharacterLayout>
